---
extends: "default"

ignore: |
  .venv/
  .nox/
  staticfiles/
  site/

rules:
  line-length:
    max: 120

  quoted-strings:
    required: true
    quote-type: "double"
    check-keys: false

  truthy:
    level: "error"
    check-keys: false
