/* Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer p {
  margin-top: 20px;
}


/* Title */
#fakester-title {
    font-family: 'Poiret One', cursive;
}

#fakester-title a:hover,
#fakester-title a:active {
    text-decoration: none;
}

/* Misc */
.btn-xlg {
    margin-top: 20px;
    padding: 12px 18px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 3px;
}