{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}fakester{% endblock title %}</title>

  <meta name="author" content="Paweł Adamczak">
  <meta name="application-name" content="fakester">
  <meta name="description" content="So you can rickroll everyone around you">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">

  {% block css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock css %}

  {% block fonts %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap">
  {% endblock fonts %}

  {% block js %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
  <script src="{% static 'js/clipboard.min.js' %}" defer></script>
  <script type="module">
    // Clipboard
    let clipboard = new ClipboardJS('.copy-button');

    clipboard.on('success', function(e) {
      let trigger_button = e.trigger;
      let tooltipOptions = {
        title: 'Copied!',
        trigger: 'manual',
      };
      let btn_tooltip = bootstrap.Tooltip.getOrCreateInstance(trigger_button, tooltipOptions);
      btn_tooltip.show();

      setTimeout(function () {
        btn_tooltip.dispose();
      }, 2000);
    });
  </script>
  {% endblock js %}

  {% block head_extra %}{% endblock head_extra %}
</head>

{% block body %}
<body class="d-flex flex-column min-vh-100">
  {% block header %}
    {% include 'partials/header.html' %}
  {% endblock header %}

  {% block main %}
    <main class="container-md">
      {% block content %}{% endblock content %}
    </main>
  {% endblock main %}

  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock footer %}
</body>
{% endblock body %}

</html>
