{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Paweł Adamczak">
  <meta name="application-name" content="fakester">
  <meta name="description" content="So you can rickroll everyone around you">

  <title>{% block title %}fakester{% endblock title %}</title>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap">

  {% block head_extra %}{% endblock head_extra %}
</head>

<body class="d-flex flex-column min-vh-100">
  {% block header %}
    {% include 'partials/header.html' %}
  {% endblock header %}

  {% block main %}
    <main class="container-md">
      {% block content %}{% endblock content %}
    </main>
  {% endblock main %}

  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock footer %}
</body>

</html>
