<footer class="container-md mt-auto border-top border-2">
  <div class="d-flex flex-wrap justify-content-between py-3">
    <div class="col-md-4 d-flex">
      <span class="text-muted font-monospace">
        <small>made by <a class="text-decoration-none" href="https://pawelad.me/">pawelad</a></small>
      </span>
    </div>

    <ul class="nav col-md-4 d-flex justify-content-end list-unstyled">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/pawelad/fakester">
          <i class="fa-brands fa-github-square fa-fw fa-xl"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
