{% load static %}
{% load utils_tags %}

<footer>
    <div class="container">
        <div class="col-xs-6">
            <p>
                Made by <a href="https://pawelad.xyz/">me</a>
            </p>
        </div>

        <div class="col-xs-6">
            <p class="text-muted pull-right">
                v{% get_version %}
                &nbsp;|&nbsp;
                <a href="https://github.com/pawelad/fakester">
                    <img src="https://img.shields.io/github/stars/pawelad/fakester.svg?style=social&label=Star&maxAge=2592000">
                </a>
            </p>
        </div>
    </div>
</footer>